@use "variables" as *;

.artisan-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.img-infos-wrapper {
  display: flex;
  flex-direction: column;
  gap: $gap-fluid;

  @media (min-width: $desktop) {
    flex-direction: row;
    gap: 4rem;

    .artisan-img {
      width: 50%;
    }
  }
}

.artisan-infos {
  border-left: 1px solid $blue;
  font-style: normal;
  padding: $padding-fluid;

  @media (min-width: $desktop) {
    flex-direction: column;
  }

  .artisan-website {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    
  }
}

.about {
  background: $white-blue;

  .about-paragraph {
    line-height: 2.5;
  }
}

.contact-form {
  border: 1px solid $blue;
  border-radius: 10px;
  padding: $padding-fluid;
}

.form-field {
  display: grid;
  grid-template-columns: clamp(100px, 20%, 200px) 1fr;
  align-items: center;
}

.form-label {
  margin-bottom: 0;
}

.form-control {
  border: 1px solid $grey;
  border-radius: 5px;
}

.contact-form button {
  display: block;
  margin: 1rem auto 0;
}