@use "variables" as *;

.btn-artisan {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  width: fit-content;
  padding: 0.6rem 2rem;
  border-radius: 999px;
  border: 1.5px solid;
  text-decoration: none;
  transition: all 0.2s ease;
}

.btn-blue {
  background-color: $blue;
  border-color: $blue;
  color: $white;

  &:hover {
    background-color: $dark-blue;
    border-color: $dark-blue;
  }
}
  
.btn-white {
  background-color: $white;
  border-color: $blue;
  color: $blue;

  &:hover {
    border-color: $dark-blue;
    color: $dark-blue;
  }
}