@use "variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 96px;
  overflow: visible;
    
  .logo {
    width: clamp(200px, 25vw, 400px);
    height: auto;
  }
}