@use "./variables" as *;

:root {
  --header-height: clamp(96px, 13.5vw + 45px, 240px);
}

.default-container {
  width: 100%;
  margin-inline: auto;
  padding-inline: $padding-fluid;
}

.section {
  padding-block: $padding-fluid;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 160;

  background: transparent;
}
