@use "variables" as *;

.menu {
  &-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;  
  }

  &-text {
    display: block;
    margin-top: 0.2rem;
    font-size: 0.7rem;
    color: $blue;
    text-align: center;
  }

  &-icon {
    width: 24px;
    height: 24px;
  }
}

.menu-open .search-bar > .d-lg-none {
  transform: translateX(-0.35rem);
}

.custom-navbar {
  display: flex;
  flex-direction: column;
}

.mobile-actions {
  gap: 12px;
}

a {
  text-decoration: none;
  color: $grey;
}

.desktop-menu .navbar-nav {
  align-items: center;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: var(--header-height);

  @media (max-width: 440px) {
    top: calc(1vh + var(--header-height));
  }

  left: 0;

  width: 100%;
  height: calc(100vh - var(--header-height));

  background: $white;
  padding: $padding-fluid;

  overflow-y: auto;

  z-index: 170;
}

.mobile-menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: linear-gradient(to bottom, $grey, lighten($grey, 90%));
  opacity: 0.2;
}

.mobile-menu.open {
  display: block;
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu li {
  padding: 0.75rem 1.25rem;
}

.mobile-menu li a {
  color: $grey;
  text-decoration: none;
}

.overlay {
  background: transparent;
}

.nav-item {
  display: flex;
  align-items: center;
}

.separator {
  display: block;
  width: 2px;
  height: 30px;
  margin: 0 16px;
  background-color: $grey;
}