@use "variables" as *;

.search-icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.2s;
  cursor: pointer;

  .search-icon {
    color: $blue;
    width: 40px;
    height: 40px;
  }

  &:hover {
    background-color: $dark-blue;
    .search-icon {
      color: white;
    }
  }
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-input {
  width: 220px;
  border: none;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2px 20px;
  border-right: 1px solid $blue;
  border-bottom: 1px solid $blue;
}