@import './variables';

.search-icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.2s;
  cursor: pointer;

  .search-icon {
    color: $blue;
  }

  &:hover {
    background-color: $dark-blue;
    .search-icon {
      color: white;
    }
  }
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-input {
  width: 220px;
}

