@use "../variables" as *;

.header {
  position: relative;
  top: 0;
  left: 0;
  min-height: var(--header-height);
  overflow: visible;
  z-index: 210;
  width: 100%;
  background: $white;

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 0;

  @media (max-width: 440px) {
    flex-wrap: wrap;
  }

  .logo {
    width: clamp(200px, 25vw, 500px);
    height: auto;
    aspect-ratio: 5 / 3;
    overflow: hidden;
  }
}
