@use "../variables" as *;

.rating {
  display: inline-flex;
  align-items: center;

  gap: clamp(0.3rem, 0.2rem + 0.3vw, 0.5rem);
  padding: clamp(6px, 0.5vw, 8px) clamp(12px, 1vw, 14px);

  border-radius: 999px;
  background-color: $grey;

  max-width: 100%;
  overflow: hidden;
}

.rating-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
