@use "../variables" as *;

.search-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  .search-input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px;
    padding: 2px 20px;
    border-right: 1px solid $blue;
    border-bottom: 1px solid $blue;

    .search-input {
      width: 100%;
      color: $grey;
      border: none;
    }

    .search-icon-container {
      pointer-events: none;
    }
  }
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 300;

  background: $white;
  border: 1px solid #ddd;
  border-radius: 10px;

  list-style: none;
  margin-top: 8px;
  padding: 0;

  li {
    padding: 8px 12px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    .btn-results {
      background: none;
      border: none;
    }
  }
}
